
@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = null;
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <title>Quên mật khẩu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />

    <style>
        body {
            font-size: 18pt;
            background-color: #A7713A;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
        }

        .login-form {
            background-color: white;
            padding: 30px;
            margin: 10%;
            border-radius: 10px;
            width: 50%;
        }

        .btn-custom {
            background-color: #A7713A;
            color: white;
            width: 30%;
            height: fit-content;
            margin: 0 auto;
            display: block;
            font-size: 18pt;
        }

        .register-link a {
            color: #A7713A;
            text-decoration: none;
        }
    </style>

</head>
<body>
    <div class="login-form">
        <h2 class="text-center mb-4">Quên mật khẩu</h2>
        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger">@ViewBag.Error</div>
        }
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-success">@ViewBag.Message</div>
        }
        @using (Html.BeginForm("ForgetPass", "Account", FormMethod.Post))
        {
            <div class="mb-3">
                @Html.Label("Tên đăng nhập:", htmlAttributes: new { @class = "form-label" })
                @Html.TextBox("Taikhoan", ViewBag.Taikhoan as string, new
                {
               @class = "form-control",
               required = "required",
               pattern = @"^[a-zA-Z0-9]{4,30}$",
               type = "text",
               title = "Tên đăng nhập phải từ 4 đến 30 ký tự, không chứa ký tự đặc biệt!"
           })
            </div>

            <div class="mb-3">
                @Html.Label("Họ tên:", htmlAttributes: new { @class = "form-label" })
                @Html.TextBox("Hoten", ViewBag.Hoten as string, new { @class = "form-control", required = "required", type = "text" })
            </div>

            <div class="mb-3">
                @Html.Label("Số điện thoại:", htmlAttributes: new { @class = "form-label" })
                @Html.TextBox("Sdt", ViewBag.Sdt as string, new
                {
               @class = "form-control",
               required = "required",
               type = "text",
               pattern = @"^0\d{9}$",
               title = "Số điện thoại phải có 10 chữ số và bắt đầu bằng 0"
           })
            </div>

            <div class="mb-3">
                @Html.Label("Email: ", htmlAttributes: new { @class = "form-label" })
                @Html.TextBox("Email", ViewBag.Email as string, new
                {
               @class = "form-control",
               required = "required",
               type = "email",
               pattern = @"^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$",
               title = "Vui lòng nhập đúng định dạng email"
           })
            </div>
            <div class="d-flex flex-row">
                <button type="submit" class="btn btn-custom" name="action" value="forget">Lấy lại mật khẩu</button>
                <button type="submit" class="btn btn-custom" name="action" value="reset">Đổi mật khẩu</button>

            </div>
            <div class="register-link">Bạn đã có tài khoản? <a href="@Url.Action("Login", "Account")">Đăng nhập ngay!</a></div>
            <div class="register-link">Bạn chưa có tài khoản? <a href="@Url.Action("SignUp", "Account")">Đăng ký ngay!</a></div>
        }
    </div>

</body>
</html>
